{% extends 'base.html' %}

{% block header %}labels > {{ title }}{% end %}
{% block navigation %}
<ul>
    {% for label in labels %}
        {% if label['slug'] != current %}
            <li><a href="{{ reverse_url('label', label['slug']) }}">{{ label['title'] }}</a></li>
        {% else %}
            <li class="selected">{{ label['title'] }}</li>
        {% end %}
    {% end %}
</ul>
{% end %}
{% block content %}
<ul class="pages">
{% for page in pages %}
    <li><a href="{{ reverse_url('page', page['path']) }}">{{ page['title'] }}</a> <span>{{ page['created'].strftime('%B %d, %Y') }}</span></li>
{% end %}
</ul>
{% end %}
